---
http_interactions:
- request:
    method: post
    uri: https://graph.microsoft.com/v1.0/users/<MICROSOFT365_USER>/sendMail
    body:
      encoding: US-ASCII
      string: RGF0ZTogV2VkLCAwOCBKYW4gMjAyNSAxMTozMDozNSArMDEwMA0KVG86IGRldmVsb3BtZW50QHphbW1hZHRlc3Rpbmcub25taWNyb3NvZnQuY29tDQpNZXNzYWdlLUlEOiA8Njc3ZTUzY2I1MGYzZl81Njk0MjQ2ODIzMzUxQE1hY0Jvb2tQcm8uZnJpdHouYm94Lm1haWw+DQpTdWJqZWN0OiByc3BlYy1ncmFwaC1jbGllbnQtOGQyN2M5ZTItMTFlMC00MzIxLWJhODAtNDViNjAwOTgzNDVkDQpNaW1lLVZlcnNpb246IDEuMA0KQ29udGVudC1UeXBlOiB0ZXh0L3BsYWluOw0KIGNoYXJzZXQ9VVRGLTgNCkNvbnRlbnQtVHJhbnNmZXItRW5jb2Rpbmc6IDdiaXQNCg0KVGVzdCBlbWFpbA==
    headers:
      Content-Type:
      - text/plain
      Authorization:
      - Bearer <MICROSOFTGRAPH_ACCESS_TOKEN>
  response:
    status:
      code: 202
      message: Accepted
    headers:
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"4","ScaleUnit":"003","RoleInstance":"FR1PEPF000017E7"}}'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 08 Jan 2025 10:30:35 GMT
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/users/<MICROSOFT365_USER>/messages/?$filter=(isRead%20eq%20false%20AND%20parentFolderId%20eq%20%27inbox%27)&$orderby=receivedDateTime%20ASC&$select=id,subject&top=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MICROSOFTGRAPH_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"4","ScaleUnit":"003","RoleInstance":"FR1PEPF00000AF8"}}'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users(''development%40zammadtesting.onmicrosoft.com'')/messages(id,subject)","value":[{"@odata.etag":"W/\"CQAAABYAAAAoFLOPpw+DT6FzPiBEdLGRAADHsdvH\"","id":"AAMkADUyYzNhMTE0LTc3ODYtNGZhNi05OWQ4LTQ0MDBkMzlmOGMxYwBGAAAAAABd4NbzwfnuTK9dVIq26pEeBwAoFLOPpw_DT6FzPiBEdLGRAAAAAAEMAAAoFLOPpw_DT6FzPiBEdLGRAADIJNulAAA=","subject":"Zammad
        Getting started Test Email test microsoft365 oauth unittest 63130074212305169775839129897373061855"},{"@odata.etag":"W/\"CQAAABYAAAAoFLOPpw+DT6FzPiBEdLGRAADHsdvk\"","id":"AAMkADUyYzNhMTE0LTc3ODYtNGZhNi05OWQ4LTQ0MDBkMzlmOGMxYwBGAAAAAABd4NbzwfnuTK9dVIq26pEeBwAoFLOPpw_DT6FzPiBEdLGRAAAAAAEMAAAoFLOPpw_DT6FzPiBEdLGRAADIJNumAAA=","subject":"Zammad
        Getting started Test Email test microsoft365 oauth unittest 68481430656998408492654550725436901648"},{"@odata.etag":"W/\"CQAAABYAAAAo[...]
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/users/<MICROSOFT365_USER>/messages/AAMkADUyYzNhMTE0LTc3ODYtNGZhNi05OWQ4LTQ0MDBkMzlmOGMxYwBGAAAAAABd4NbzwfnuTK9dVIq26pEeBwAoFLOPpw_DT6FzPiBEdLGRAAAAAAEMAAAoFLOPpw_DT6FzPiBEdLGRAADIJNvMAAA=/?$expand=singleValueExtendedProperties($filter=Id%20eq%20%27LONG%200x0E08%27)&$select=internetMessageHeaders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MICROSOFTGRAPH_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"4","ScaleUnit":"005","RoleInstance":"FR3PEPF000008D7"}}'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users(''development%40zammadtesting.onmicrosoft.com'')/messages(internetMessageHeaders,singleValueExtendedProperties())/$entity","@odata.etag":"W/\"CQAAABYAAAAoFLOPpw+DT6FzPiBEdLGRAADHsktq\"","id":"AAMkADUyYzNhMTE0LTc3ODYtNGZhNi05OWQ4LTQ0MDBkMzlmOGMxYwBGAAAAAABd4NbzwfnuTK9dVIq26pEeBwAoFLOPpw_DT6FzPiBEdLGRAAAAAAEMAAAoFLOPpw_DT6FzPiBEdLGRAADIJNvMAAA=","internetMessageHeaders":[{"name":"Received","value":"from
        FRYP281MB0189.DEUP281.PROD.OUTLOOK.COM (2603:10a6:d10:6::11) by FR2P281MB3407.DEUP281.PROD.OUTLOOK.COM
        with HTTPS; Wed, 8 Jan 2025 10:30:36 +0000"},{"name":"Received","value":"from
        FR2P281MB3407.DEUP281.PROD.OUTLOOK.COM (2603:10a6:d10:64::13) by FRYP281MB0189.DEUP281.PROD.OUTLOOK.COM
        (2603:10a6:d10:6::11) with Microsoft SMTP Server (version=TLS1_2, cipher=TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384)
        id 15.20.8335.12; Wed, 8 Jan 2025 10:30:35 +0000"},{"name":"Received","value":"from
        FR2P281MB3407.DEUP281.PROD.OUTLOOK.COM ([fe80::4496:d9b8:43f3:3d26]) by FR2P281MB3407.DEUP281.PROD.OUTLOOK.COM
        ([fe80::4496:d9b8:43f3:3d26%6]) with mapi id 15.20.8335.010; Wed, 8 Jan 2025
        10:30:35 +0000"},{"name":"Authentication-Results","value":"dkim=none (message
        not signed) header.d=none;dmarc=none action=none header.from=zammadtesting.onmicrosoft.com;"},{"name":"Content-Type","value":"application/ms-tnef"},{"name":"Content-Transfer-Encoding","value":"binary"},{"name":"From","value":"\"Martin
        Edenhofer\" <<MICROSOFT365_USER>>"},{"name":"To","value":"\"Martin Edenhofer\"
        <<MICROSOFT365_USER>>"},{"name":"Subject","value":"<SEND_MAIL_SUBJECT>"},{"name":"Thread-Topic","value":"<SEND_MAIL_SUBJECT>"},{"name":"Thread-Index","value":"AQHbYbhai2ePiIUBcUqjTLMOMLK+ag=="},{"name":"Date","value":"Wed,
        8 Jan 2025 10:30:35 +0000"},{"name":"Message-ID","value":"<677e53cb50f3f_5694246823351@MacBookPro.fritz.box.mail>"},{"name":"Accept-Language","value":"en-GB,
        de-DE, en-US"},{"name":"Content-Language","value":"en-US"},{"name":"X-MS-Exchange-Organization-SCL","value":"1"},{"name":"X-MS-TNEF-Correlator","value":"<677e53cb50f3f_56942[...]
- request:
    method: delete
    uri: https://graph.microsoft.com/v1.0/users/<MICROSOFT365_USER>/messages/AAMkADUyYzNhMTE0LTc3ODYtNGZhNi05OWQ4LTQ0MDBkMzlmOGMxYwBGAAAAAABd4NbzwfnuTK9dVIq26pEeBwAoFLOPpw_DT6FzPiBEdLGRAAAAAAEMAAAoFLOPpw_DT6FzPiBEdLGRAADIJNvMAAA=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <MICROSOFTGRAPH_ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"4","ScaleUnit":"005","RoleInstance":"FR3PEPF00000536"}}'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 08 Jan 2025 10:30:39 GMT
recorded_with: VCR 6.3.1
