---
http_interactions:
- request:
    method: get
    uri: https://ai.edenhofer.de/api/v1/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ZAMMAD_AI_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"42bd98b30a1a89e766a8d84a6b49330a"
    body:
      encoding: ASCII-8BIT
      string: '{"current_user":{"id":9,"email":"bs@zammad.com","firstname":"Benjamin","lastname":"Scharf","active":true,"created_by_id":1,"created_at":"2025-03-24T09:40:16.024Z","updated_at":"2025-03-24T09:40:16.024Z","organization_id":2,"is_platform_admin":false,"is_organization_admin":false,"login_failed_count":null,"login_at":null}}'
  recorded_at: Tue, 01 Apr 2025 09:34:06 GMT
recorded_with: VCR 6.3.1
